<html>
<body>

<h2 style="font-family:futura;">
    Welcome to the
    <span style="color: #ff5883">
        <i>Ram Dass</i>
    </span>
    Text Generator
</h2>

<p style="font-family:courier;">Please enter 20 characters or less.</p>

</body>

<form method="POST">
    <input name="text">
    <input type="submit">
</form>

<br>

<img src="https://images.gr-assets.com/authors/1431435282p5/14525.jpg" alt="Ram Dass" width="208" height="284">

<br>

<body>

<h5 style="font-family:futura;">
    <a href="https://www.ramdass.org/">
        Find out more about Ram Dass
    </a>
</h5>


<p style="font-family:courier;">
    Created by Alex Smith. May 31, 2018.
</p>
<p style="font-family:courier; font-size:70%;">
    Image source: https://www.goodreads.com/author/show/14525.Ram_Dass
</p>

</body>

</html>
